<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/Brushed")
    @RenderSection("styles", required: false)
</head>
<body>
    <header>
        <div class="sticky-nav">
            <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

            <div id="logo">
                <a id="goUp">Auction</a>
            </div>

            <nav id="menu">
                <ul id="menu-nav">
                    <li class="current"><a href=@Url.Action("Index","Home") class="external">Home</a></li>
                    <li><a href="#work">Categories</a></li>
                    <li><a href=@Url.Action("Add","Lot") class="external">Add Lot</a></li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href=@Url.Action("Login","Account") class="external">Login</a></li>
                    }
                    else
                    {
                        <li>@User.Identity.Name</li>
                        <li><a href=@Url.Action("LogOff","Account") class="external">Log out</a></li>
                    }
                    <li><a href=@Url.Action("About","Home") class="external">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="page">
        <div class="span4 offset8">
            @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "contact-form", role = "form" }))
            {
                <p>
                    @Html.TextBox("search") <br />
                    <input type="submit" value="Search" class="submit" />
                </p>
            }
        </div>
        @RenderBody()
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Все равно никто сюда не посмотрит</p>
    </footer>

    @Scripts.Render("~/Scripts/Jquery")
    @Scripts.Render("~/Scripts/Brushed")
    @RenderSection("scripts", required: false)
</body>
</html>